/*RESPONSIVE*/
@media (max-width:768px){
	#section-carousel {
		padding: 0px;
	}
    #section-carousel .carousel-caption h1{
        font-size:2.9rem !important;
        line-height: 2.7rem !important;
    }
    .carousel-indicators [data-bs-target] {
        height: 10px !important;
        width: 10px !important;
    }
    #section-carousel .carousel-item{
    	background-size: 100%;
	    min-height: 500px;
	    background-image: url(../images/header_mobile.png);
	    background-repeat: no-repeat;
	    background-position-y: center;
	    height: initial;
    }
    #section-carousel .carousel-caption .title-md span{
    	display: none;
    }
    #section-carousel .carousel-caption .title-md{
    	font-weight: 
    }
    #section-carousel .carousel-caption .title-md:before{
    	content: "Creamos sitios";
    }
    #section-carousel .carousel-caption .title-md:after{
    	content: "web y apps";
    }
    #section-potenciamos-negocio .video-wrapper video{
    	width: 100%;
    	position: relative;
		right: initial;
		top: initial;
    }
    #section-potenciamos-negocio .bg-cloudworks{
    	min-height: initial !important;
    }
    #section-potenciamos-negocio .tittle {
		font-size: 28px;
	}

	#section-potenciamos-negocio .copy {
		font-size: 24px;
	}

	#section-potenciamos-negocio .calltoaction {
		font-size: 24px;
	}
	#section-quienes-somos {
	    margin-top: 30px;
	}
	#section-quienes-somos.container-fluid{
    	min-height: 450px !important;
    	background-position-y:bottom;
	}
	#section-quienes-somos h4 {	
		font-size: 30px;
	}
	#section-quienes-somos p {
		font-size: 20px;
	}
	#section-testimonios {
		min-height: 300px;
		margin-top: 20px;
	}
	#section-clientes {
		margin-top: 30px;
	}
	#section-clientes p{
		margin-bottom: 10px;
	}
	#section-clientes .slick-initialized .slick-slide {
    	height: 100px !important;
    	align-items: center !important;
	}
	.slick-clientes img,.slick-clientes-1 img,.slick-clientes-2 img{
		width: 80%;
	}
	.prev-1 ,.next-1{
    	top: 35px;
	}
	#section-contactanos{
		background-image: none;
		margin-bottom:45px;
		margin-top: 20px;
	}
	#section-contactanos .container, #section-contactanos .row {
		min-height: auto !important;
	}
	#section-contactanos .mobile-img{
		height: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url("../images/contacto-mobile.png");
	}
	#section-contactanos .mobile-grid{
		display: grid;
		grid-column-gap: 20px;
		grid-template-columns: 3fr 5fr;
		min-height: 65px;
	}
	#section-contactanos .mobile-grid div:first-child{
		display: flex;
		align-items: center;
	}
	#section-contactanos h3{
	font-size: 1.65rem !important;
	}
	/*FOOTER*/
	#footer{
		height: auto;
		padding: 25px 12px !important;
	}
	#footer .social .d-flex{
		height: 60px;
	}
	#footer .social img{
		width: 150px;
		margin: 25px 0px;
	}
	#footer .links a{
		width: 100%;
	}
	#footer .cloudworks{
		min-height: auto !important;
	}
	#footer .social{
		margin-top: 5px;
		min-height: 280px;
	}
	#footer .social .social-links a{
		width: 50px !important;
		height: 50px !important;
	}
	#hero-sobre-nosotros h1{
        font-size:3.7rem !important;
        line-height: 3.1rem !important;
    }
    #hero-sobre-nosotros .hero-img{
    	display: flex;
    	align-items: center;
    }
    #hero-sobre-nosotros .hero-img img{
    	height: fit-content;
    }
    #section-porque-trabajar .video-wrapper video{
    	width: 100%;
    	position: relative;
		right: initial;
		top: initial;
    }
    #section-porque-trabajar .bg-cloudworks{
    	min-height: initial !important;
    }
}
@media (max-width:768px){

}