/*FUENTES*/
@font-face{
	font-family: montserrat-bold;
	src:url(../fonts/Montserrat-Bold.otf);
}
@font-face{
	font-family: lato-light;
	src:url(../fonts/Lato-Light.ttf);
}
@font-face{
	font-family: lato-regular;
	src:url(../fonts/Lato-Regular.ttf);
}
.montserrat-bold{
	font-family: montserrat-bold;
}
.lato-light{
	font-family: lato-light;
}
.lato-regular{
	font-family: lato-regular;
}
/*ESTILOS */
/*NAVBAR*/
.navbar .dropdown-item{
	color: #0068C9;
	font-family: lato-regular;
	font-weight: bold;
}
/*CARROUSEL HOME*/
#section-carousel .carousel-item{
	height: 90vh;
	background-size: cover;
}
#section-carousel .carousel-1{
	background-image: url("../images/header.png");
}
#section-carousel .carousel-2{
	background-image: url("../images/header.png");
}
#section-carousel .carousel-3{
	background-image: url("../images/header.png");
}
.carousel-indicators [data-bs-target]{
	border-top: none !important;
    border-bottom: none !important;
    height: 20px !important;
    width: 20px !important;
	border-radius: 100%;
	background-color:#0068C9;
	border-color: #0068C9;
	padding:5px !important;
	margin-right: 7px;
}
#section-carousel .carousel-caption{
	height: 100%;
	display: flex !important;
	justify-content: flex-start;
	align-items: center;
	left:8%;
}
#section-carousel .carousel-caption h1{
	font-size:6.5rem !important ;
	line-height: 6rem ;
}
.carousel-caption > div {
	display: grid;
	grid-template-columns: 1fr;
}

.title-lg{
	font-size:4rem !important;
}
.title-md{
	font-size:2.3rem !important;
}
/*VIDEO*/
#section-potenciamos-negocio .video-wrapper video{
	position: absolute;
	right: -80px;
	top: 40px;
}
#section-potenciamos-negocio .video-wrapper{
	position: relative;
}
/*POTENCIAMOS TU NEGOCIO*/
#section-potenciamos-negocio .tittle {
	font-family: montserrat-bold; color:#0068C9;
	font-size: 40px;
}

#section-potenciamos-negocio .copy {
	font-family: lato-light; color: black;
	font-size: 31px;
}

#section-potenciamos-negocio .calltoaction {
	font-family: lato-regular; color: black;
	font-weight: bold;
	font-size: 31px;
}
#section-potenciamos-negocio p{
	line-height: 36px;
}
#section-potenciamos-negocio .barra-azul{
	height: 10px;
	width: 140px;
	background-color: #0068C9;
}
/*QUIENES SOMOS*/
/*Alfred*/
#section-quienes-somos h4 {
	font-family: montserrat-bold; color: white; 	
	font-size: 41px;
}
#section-quienes-somos p {
	font-family: lato-light;
	color: white; 	
	font-size: 27px;
}

#section-quienes-somos button {
	border-color: #0068C9;
	background-color:#0068C9;
	border-color: white;
	border-radius: 8px;
	box-sizing: border-box;
	font-family: lato-light; color: white; 
	padding-bottom: 2px;
}
  
#section-quienes-somos button:hover {
	background: #2a5eeece;
	color: #fff;
}
/*-Alfred fin-*/
#section-quienes-somos.container-fluid{
	background-size: contain;
    background-image: url('../images/quienes somos.png') !important;
    min-height: 400px !important;
    background-repeat: no-repeat;
    background-position-x:right;
}
#section-quienes-somos{
	margin-top: 100px;
}
/*CLIENTES*/
.slick-clientes img,.slick-clientes-1 img,.slick-clientes-2 img{
	width: 65%;
	margin: auto;
}
.slick-clientes,.slick-clientes-1,.slick-clientes-2{
	display: block;
}
#section-clientes{
	margin-top: 50px;
	position: relative;
}
#section-clientes .slick-initialized .slick-slide {
    display: flex !important;
    height: 150px !important;
    align-items: center !important;
}
#section-clientes .slick-slide.slick-cloned{
	display: flex !important;
}
.section-clientes-wrapper{
	position: relative;
}
.prev-1,.prev-2,.next-1,.next-2{
	position: absolute;
}
.prev-1{
	left: -5%;
	top: 65px;
}
.next-1{
	right: -5%;
	top: 65px;
}
.prev-2{
	left: -5%;
	top: 200px;
}
.next-2{
	right: -5%;
	top: 200px;
}
/*TESTIMONIOS*/
#section-testimonios{
	margin-top: 50px;
	min-height: 350px;
}
.slick-testimonios > div{
	height: 300px;
}
.slick-testimonios img{
	width: 100%;
	margin: auto;
}
.slick-testimonios .slick-center img{
	width: 100%;
	opacity: 1;
}
.slick-testimonios .slick-track {
	display: flex;
	align-items: flex-end;
}
/*CONTACTANOS*/
#section-contactanos{
	background-image: url(../images/contacto.png);
	background-size: contain;
    
    background-repeat: no-repeat;
    background-position-x:right;
}
#section-contactanos .container,#section-contactanos .row{
	min-height: 500px !important;
}
#section-contactanos h3{
	font-size: 2.1rem !important;
	margin-bottom: 15px;
}
#section-contactanos p{
	font-size: 1.35rem;
}
/*NOTICIAS*/
#section-noticias .card-text{
	color: #717171;
}

#section-noticias .card-content{
  	min-height: 100%;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}
#section-noticias .card{
	box-shadow: 0px 0px 10px #2C2C2C;
	min-height: 500px;
	height: 500px;

}
#section-noticias .card-img-top{
	height: 185px;
}
/*FOOTER*/
#footer .links a:after{
	content: "";
	width: 0px;
}
#footer .links a:hover:after{
	position: absolute;
	display: block;
	width: 100%;
	background-color: white;
	height: 3px;
	transition-property: width;
  	transition-duration: 0.35s;
}
#footer .row .col-md-3 > div > p{
	color:#AFAFAF;
}
#footer .links a{
	position: relative;
	text-decoration: none;
	width: fit-content;
	color:white;
}
#footer{
	padding-top: 30px;
}
#footer .social img{
	width: 75%;
}

/*SOBRE NOSOTROS y Desarrollos web*/
#hero-sobre-nosotros h1,#hero-desarrollos-web h1{
	font-size: 6.8rem;
	line-height: 5.6rem;
	font-weight: bolder;
}
#hero-desarrollos-web .hero-icono img{
	width: 75%;
}
#hero-desarrollos-web .hero-img img{
	width: 75%;
}


#section-caracteristicas h3 .number{
	font-size: 3.5rem;
}
#section-caracteristicas{
	color: #9DAEC4;
	margin-top: 50px;
	margin-bottom: 50px;
}
/*VIDEO-PORQUE-TRABAJO*/
#section-porque-trabajar .video-wrapper video{
	position: absolute;
	right: 130px;
	top: 50px;
}
#section-porque-trabajar .video-wrapper{
	position: relative;
}
#section-decada p,#section-outsorcing p,#section-testimonio p,#section-diferencia p,#section-tecnologia p,#section-wordpress p,#section-woocommerce p,#section-seo p,#section-wordpress-3 p,#section-base-datos p,#section-apps p,#section-trabajamos p,#section-horas p{
	font-size: 20px;
}
#section-decada .title,#section-outsorcing .title,#section-testimonio .title,#section-diferencia .title,#section-tecnologia .title,#section-wordpress .title,#section-woocommerce .title,#section-seo .title,#section-wordpress-3 .title,#section-base-datos .title,#section-apps .title,#section-trabajamos .title,#section-horas .title{
	font-size: 36px;
	font-weight: bold;
}
#section-decada .subtitle,#section-outsorcing .subtitle,#section-testimonio .subtitle,#section-diferencia .subtitle,#section-tecnologia .subtitle,#section-wordpress .subtitle,#section-woocommerce .subtitle,#section-seo .subtitle,#section-wordpress-3 .subtitle,#section-apps .subtitle,#section-trabajamos .subtitle,#section-horas .subtitle{
	font-size: 25px;
	line-height: 32px;
	font-weight: bold;
}
#section-wordpress-3 .title-2{
	font-size: 28px;
	font-weight: bold;
}